<% include ../partials/header.ejs %>

<h1>GAMES</h1>
<% games.forEach(function(game) { %>
    <div>
        <div id="name">
        <a href="/games/<%= game.id %>"><%= game.name %></a>
        </div>
        <a href="/games/<%= game.id %>/edit">Edit</a>
        
        <form method="POST" action="/games/<%= game.id %>?_method=DELETE">
            <input type="submit" value="delete">
        </form>
    </div>
    <% }); %>
        <div id="name">
        <a href="/games/new">[Add New Game]</a>
        </div>
    
<% include ../partials/footer.ejs %>