<% include ../partials/header.ejs %>

<a href="/games">Back to Home</a>

<h2><%= game.name %></h2>
<p><%= game.description %></p>
<p>Max Players: <%= game.players %></p>

<% include ../partials/footer.ejs %>